extends layout

mixin item_image(id)
  a.pull-left(href='http://eve-central.com/home/quicklook.html?typeid=#{id}')
    img.media-object(src='http://image.eveonline.com/Type/#{id}_32.png')

block context
  h3 Inventory Appraisal
  p Your inventory has been broken down and priced against current market values:

  :coffeescript
    root = exports ? this
    class Item
      constructor: (@id, @name, @parent) ->

      update_values: (volume, avg, max, min, stddev, median, percentile) ->
        @volume = parseFloat(volume)
        @avg = parseFloat(avg)
        @max = parseFloat(max)
        @min = parseFloat(min)
        @stddev = parseFloat(stddev)
        @median = parseFloat(median)
        @percentile = parseFloat(percentile)

    $(document).ready ->
      format_values = ->
        $.extend accounting.settings.number,
          precision: 2

        $.each $('tbody td, tfoot td'), (i, td) ->
          values = $(td).text().replace /([\d\.]+)/g, (a, b) ->
            accounting.formatNumber( b )
          $(td).text( values )

      type_ids = $.map($('th[data-typeid]'), (item) ->
        "typeid=" + $(item).attr('data-typeid')
      ).join("&")

      items = $.map($('th[data-typeid]'), (item) ->
        new Item $(item).attr('data-typeid'), $(item).text(), $(item).parent('tr')
      )

      jita_url = "http://api.eve-central.com/api/marketstat?" + "regionlimit=10000002&" + type_ids
      $.ajax
        type: "GET"
        url: jita_url
        dataType: "xml"
        cache: true
        success: (market_data) ->
          $.each items, (index, item) ->
            vol = $(market_data).find("evec_api > marketstat > type#" + item.id + " > buy > volume").text()
            avg = $(market_data).find("evec_api > marketstat > type#" + item.id + " > buy > avg").text()
            max = $(market_data).find("evec_api > marketstat > type#" + item.id + " > buy > max").text()
            min = $(market_data).find("evec_api > marketstat > type#" + item.id + " > buy > min").text()
            std = $(market_data).find("evec_api > marketstat > type#" + item.id + " > buy > stddev").text()
            med = $(market_data).find("evec_api > marketstat > type#" + item.id + " > buy > median").text()
            per = $(market_data).find("evec_api > marketstat > type#" + item.id + " > buy > percentile").text()
            item.update_values(vol, avg, max, min, std, med, per)

            quantity = parseFloat( item.parent.find('td.quantity').text() )
            total = parseFloat( ( quantity * max ).toFixed(2) )

            item.parent.append $('<td>').addClass('price buy max').text( max )
            item.parent.append $('<td>').addClass('total').text( total )

          $('.loading').remove()

          price_sum = 0.0
          volume_sum = 0.0
          $.each $('tbody tr'), (i, tr) ->
            price_sum  += parseFloat( $(tr).find('td.total').text() )
            volume_sum += parseFloat( $(tr).find('td.volume').text().replace(/\s+$/, '') )

          $('tfoot tr.total').append $('<td>').addClass('total volume').html( volume_sum.toFixed(2) )
          $('tfoot tr.total').append $('<td>').text( '' )
          $('tfoot tr.total').append $('<td>').addClass('total price').text( price_sum.toFixed(2) )

          $.each $('tbody td.total'), (i, td) ->
            $(td).text( $(td).text() )

          format_values()

  if (unparsed.length)
    #unparsed.alert.alert-danger
      button.close(type='button', data-dismiss='alert') x
      h4 Crap!  We had a hard time reading some of your inventory:
      dl
        each line in unparsed
          dt
            = line.error
            = ' (Around character ' + line.error.column + ')'
          dd
            = line.line

  table.table.table-condensed.table-striped.table-appraisal
    thead
      tr
        th Item
        th Quantity
        th Volume
        th Price
        th Total

    tbody
      tr.loading
        td(colspan=5)
          h4 
            i.icon-spinner.icon-spin.icon-large
            |  Appraising Inventory Market Value

      each item in inventory
        tr
          th(data-typeId= item.id)
            .media
              +item_image(item.id)
              .media-body
                a(href='http://games.chruker.dk/eve_online/item.php?type_id=#{item.id}')= item.name
                if item.parent
                  small.clearfix.text-muted= item.parent.join(', ')

          td.quantity= item.quantity
          td.volume= item.volume

    tfoot
      tr.total
        th(colspan=2) Total

  //- #inventory
  //-   pre= JSON.stringify(inventory)
  //- #unparsed
  //-   pre= JSON.stringify(unparsed)
